body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1,
p,
ul {
    margin: 0px;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 4px;
}

ul {
    padding: 0px;
    list-style: none;
}