.bicicleta-lista {
    padding-top: 60px;
    padding-bottom: 120px;
}

.bicicleta-lista a {
    display: block;
}

.bicicleta-lista h2 {
    margin-bottom: 40px;
}

.bicicleta-lista h3 {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.bicicleta-lista li {
    flex: 1;
    min-width: 280px;
}

.bicicleta-lista h3::before {
    background: var(--cor-p1);
    content: "";
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    transition: widht 0.2s;
}

.bicicleta-lista a:hover h3::before {
    width: 24px;
}

.bicicleta-lista img {
    margin-bottom: 16px;
}

.bicicleta-lista li span {
    padding-left: 20px;
}

.bicicleta-lista ul {
    display: flex;
    gap: 40px;
    padding: 0 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

@media (max-width: 800px) {
    .bicicleta-lista {
        padding-bottom: 60px;
    }
    .bicicleta-lista ul {
        gap: 20px;
    }
}