.bicicleta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicleta-imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bicicleta-imagens img {
    flex: 1;
    min-width: 200px;
}

.bicicleta-imagens img:first-child {
    min-width: 100%;
}

.bicicleta-conteudo>p {
    margin-bottom: 32px;
}

.bicicleta-comprar {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
    margin-bottom: 40px;
}

.bicicleta-comprar a {
    grid-row: span 2;
}

.bicicleta-comprar span {
    display: flex;
    justify-items: center;
    gap: 4px;
    border-radius: 4px;
    padding: 4px;
    background: var(--cor-12);
}

.bicicleta-conteudo h2 {
    text-transform: uppercase;
    letter-spacing: 0.015em;
    margin-bottom: 12px;
}

.bicicleta-informacao,
.bicicleta-ficha {
    padding: 32px;
    background: var(--cor-12);
    border-radius: 4px;
}

.bicicleta-informacao {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.bicicleta-informacao h3 {
    margin-bottom: 8px;
}

.bicicleta-informacao img {
    max-width: 24px;
    margin-bottom: 8px;
}

.bicicleta-ficha li {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
    border-bottom: 1px solid var(--cor-11);
}

.bicicleta-ficha li:last-child {
    border-bottom: none;
}

.bicicleta-ficha span {
    color: var(--cor-6);
}

@media (max-width: 800px) {
    .bicicleta {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40x;
        padding-bottom: 40px;
    }
    .bicicleta-imagens {
        grid-row: 2;
    }
}

@media (max-width: 800px) {
    .bicicleta-informacao {
        grid-template-columns: 1fr;
    }
    .bicicleta-comprar {
        grid-template-columns: 1fr;
    }
}